@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes bounce {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-1rem);
  }
}

.typing-dot {
  @apply text-2xl leading-0 py-2;
  animation: bounce 1s infinite ease-in-out;
}

.typing-dot-delay-1 {
  animation-delay: 0.15s;
}

.typing-dot-delay-2 {
  animation-delay: 0.3s;
}
